<div class="btn-group" id="infoSign">
  <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="dropdown">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="badge">{{alertNumber}}</span>
  </button>

  <ul class="dropdown-menu" id="alertTable">

    <li *ngFor="let n of demands" class="clearfix" (click)="liClick($event)" [ngClass]="{'liConfirm': n.confirm}">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="displaybox">
        Patient : {{n.user.first_name}} {{n.user.last_name}}<br/>
        Mail du patient : {{n.user.email}}
        <br/> Demande autorisation:{{n.subject}} <br/> Type d'autorisation : {{n.type}}<br/>
        Contenu : {{n.Created_at.toLocaleString()}}
      </div>
      <button type="button" class="btn btn-danger success" [ngClass]="{'buttonConfirm': n.confirm}"
              (click)="nonAutoriserClick(n._id)">non autoriser
      </button>
      <button type="button" class="btn btn-danger success" [ngClass]="{'buttonConfirm': n.confirm}"
              (click)="autoriserClick(n._id)">autoriser
      </button>
    </li>


    <li *ngFor="let n of treatments" class="clearfix" (click)="liClick($event)">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="displaybox">
        NOUVEAU TRAITEMENT<br/> Début le {{n.start}} <br/> Médicament : {{n.name}}
        <br/> Combien de fois : {{n.frequence}} <br/> Combien d'unité : {{n.quantity}}
      </div>
    </li>
    <li *ngFor="let n of consultations" class="clearfix" (click)="liClick($event)">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="displaybox">
        NOUVEAU RENDEZ-VOUS<br/> Patient {{n.patient.user_id.first_name}} {{n.patient.user_id.last_name}}
        <br/> Le {{n.date}} <br/> Motif : {{n.motif}} <br/>
      </div>

    </li>
  </ul>
</div>
